{
  "statusLine": {
    "type": "command",
    "command": "npx -y ccstatusline@2.2.19",
    "refreshInterval": 10
  },
  "skipAutoPermissionPrompt": true,
  "tui": "fullscreen",
  "theme": "auto",
  "editorMode": "normal",
  "verbose": true,
  "remoteControlAtStartup": true,
  "agentPushNotifEnabled": true,
  "inputNeededNotifEnabled": true
}
